/* δημιουργία μεταβλητών . Το site colorhat δίνει τους κωδικούς των χρωμάτων*/
:root {
    --navy: #002e94;
    --blue: #083AA9;
    --beige: #e1ceb5;
    --wedding: #ffe7cc;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--navy);
    color: var(--wedding);
    /* η 1η στήλη του viewport είναι το 20% */
    flex: 1 20%;   
}

.header-title {
    margin-left: 1rem;
}

main {
    background-color: var(--wedding);
    flex: 2 80%;
    /* 100vh είναι το 100% του ύψους του viewport που έχω */
    height: 100vh;
    /* scroll ενώ είναι σταθερό το header σκρολάρει το main  */
    overflow: scroll;
    scroll-behavior: smooth;
}

nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
}

nav li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--wedding);
}

nav li a:hover {
    background-color: var(--blue);
}

.banner {
    text-align: center;
}

.banner img {
    width: 300px;
    height: auto;
    border-radius: 10%;
}

.banner-images {
    margin-left: auto;
    margin-right: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
    border: 1px solid black;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

/* για να μην βγαίνει το κείμενο εκτός του πλαισίου */
pre {
    white-space: pre-wrap;
}

/* για να αλλάξουμε στο backround σε section */
.bgcolor-beige {
    background-color: var(--beige);
}

section {
    padding: 1rem;
}

.hamb {
    position: absolute;
    top: 5rem;
    left: 20rem;
    cursor: pointer;
    padding: 10px;
}

/* φτιάχνει την κάθε γραμμή του hamburger menu */
.hamb-line {
    background: white;
    /* να μη φαίνεται σε μεγάλη οθόνη */
    display: none;
    height: 2px;
    position: relative;
    width: 30px;
}

/* 5px πάνω και κάτω από την αρχική μου γραμμή θα μου δημιουργήσεις από μία γραμμή */
.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: all .2s ease-out;
}

.hamb-line::before {
    top: 5px;
}
.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav.active {
    display: flex;
}

/* ~ = τότε κάνε αυτό */

.side-menu:checked ~ .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* για να γίνει responsive */

/* σε οθόνη μικρότερη των 600px το flex-direction να γίνει column */
@media screen and (max-width:600px) {
    .container {
        flex-direction: column;
    }

    header {
        position: fixed;
    }

    nav li {
        text-align: center;
    }

    .hamb-line {
        display: block;
    }

    nav.active {
        display: none;
    }
}